.login-page-background {
    background-color: #7A7272;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login-page-background a {
    color: white;
}

.login-page-background a:hover {
    color: var(--title-color);
}

.login-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}

.login-page-main-content {
    width: 500px;
    height: 60vh;
    background-color: var(--background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

.login-page-content-header > div {
    width: 40px;
}

.login-page-back-button {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
}

.login-page-back-button > img {
    width: 20px;
    height: 20px;
}

.login-page-title {
    font-family: Bebas Neue, sans-serif;
    color: var(--title-color);
    font-size: 25px;
}

.login-fields {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.login-email,
.login-password {
    color: white;
    width: 100%;
}

.login-email > input,
.login-password > input {
    width: 100%;
}

.login-helpers {
    display: flex;
    justify-content: space-between;
}

.login-checkbox {
    color: white;
}

.social-login {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.social-login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.social-login-header > span {
    width: 30%;
    height: 1px;
    background: white;
}

.social-login-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-login button {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: none;
}

.social-login button > img {
    width: 40px;
    height: 40px;
}

.social-login button > img:nth-child(2) {
    margin-bottom: 8px;
    width: 45px;
    height: 45px;
}

.social-login button > img:nth-child(3) {
    border-radius: 5px;
}

@media (max-width: 600px) and (orientation: portrait) {
    .login-page-main-content {
        width: 85vw;
        height: 66vh;   
    }

    .login-fields {
        padding: 10px 25px;
        gap: 25px;
    }

    .social-login-buttons {
        gap: 30px;
    }
}